.order {
  display: flex;
  height: 45px;
  margin: 10px 0px 10px;
}

.order .list {
  display: flex;
  width: 500px;
  color: black;
  background-color: rgb(240, 244, 255);
  border: 1.5px solid rgb(40, 40, 119);
  border-radius: 10px;
}

.list div {
  display: flex;
  flex-direction: column;
  width: 100px;
  text-align: center;
  overflow-y: scroll;
}

.list .title,
.total .title {
  font-size: 12px;
  margin: 0;
}

.list .ret,
.total .ret {
  margin: 0px;
}

.order .total {
  width: 70px;
  margin: 0px 5px 0px;
  text-align: center;
  color: white;
  background-color: rgb(40, 40, 119);
  border: 1.5px solid rgb(40, 40, 119);
  border-radius: 10px;
}
