.list-ordered {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 10px;
  background-color: rgb(252, 248, 223);
  border: 1.5px solid rgb(206, 167, 28);
  border-radius: 15px;
}

.list-ordered .title {
  display: flex;
}

.list-ordered .head {
  background-color: rgb(238, 208, 99);
  border: 1.5px solid rgb(238, 208, 99);
  border-radius: 15px 15px 0px 0px;
}

.list-ordered .head p {
  width: 95%;
  height: 20px;
  margin: 10px;
  color: black;
  overflow: hidden;
}

.list-ordered .data-order p {
  width: 130px;
  height: 20px;
  margin: 5px 0px 5px;
  text-align: center;
  overflow: hidden;
}

.list-ordered .data-order .text-des,
.list-ordered .data-order .title-des {
  width: 200px;
  height: 20px;
  text-align: center;
  overflow: hidden;
}

.list-ordered .data-order {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 50px;
}

.list-ordered .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  color: black;
  background-color: rgb(238, 208, 99);
  border: 1.5px solid rgb(238, 208, 99);
  border-radius: 0px 0px 15px 15px;
}

.list-ordered .footer h3 {
  position: relative;
  top: 5px;
  left: 0;
}

.list-ordered .detail > div {
  display: flex;
  background-color: rgb(248, 233, 186);
  border-radius: 10px;
}

.complete-list-ordered {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 10px;
  background-color: rgb(234, 255, 220);
  border: 1.5px solid rgb(29, 167, 52);
  border-radius: 15px;
}

.complete-list-ordered .title {
  display: flex;
}

.complete-list-ordered .head {
  background-color: rgb(29, 167, 52);
  border: 1.5px solid rgb(29, 167, 52);
  border-radius: 15px 15px 0px 0px;
}

.complete-list-ordered .head p {
  width: 95%;
  height: 20px;
  margin: 10px;
  color: white;
  overflow: hidden;
}

.complete-list-ordered .data-order p {
  width: 130px;
  height: 20px;
  margin: 5px 0px 5px;
  text-align: center;
  overflow: hidden;
}

.complete-list-ordered .data-order .text-des,
.complete-list-ordered .data-order .title-des {
  width: 200px;
  height: 20px;
  text-align: center;
  overflow: hidden;
}

.complete-list-ordered .data-order {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 50px;
}

.complete-list-ordered .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  color: white;
  background-color: rgb(29, 167, 52);
  border: 1.5px solid rgb(29, 167, 52);
  border-radius: 0px 0px 15px 15px;
}
.complete-list-ordered .detail > div {
  display: flex;
  background-color: rgb(170, 234, 130);
  border-radius: 10px;
}

.complete-list-ordered .footer h3 {
  position: relative;
  top: 5px;
  left: 0;
}
